/** Basic page parameters (body, hidden areas ect) **/
div.templates {
    display: none;
}

body {
    padding: 0px;
    margin: 0px;
    min-width: 733px;
    background: #DEDEFF;
    overflow: hidden;
}

#main-content {
    background: white;
    overflow: auto;
}

/** Menu Button bar **/

div.menu-bar {
    text-align: right;
    margin:1px;
}

div.btn-block {
    display: inline-block;
    text-align: center;
    font-size: smaller;
    width: 9ex;
    background: #DDDDDD;
    padding: 3px;
    border: 1px solid #555555;
    user-select: none;
}

div.btn-block-pressed{
    background: #AAAAAA;
}

div.btn-block img {
    height: 36px;
    width: 36px;
    align-content: center;
    user-select: none;
}

div.btn-block .btn-label
{
    text-align: center;
    width: 100%;
    display: block;
    margin-top: -0.5ex; /* adjust text to be a bit closer */
}

/** Working file information (bottom of page) **/
div.working-file {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: black;
    color: #9999CC;
    padding: 2px;
}

/** Page title section under tabs **/
#title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 3px;
    color: white;
    background: #444444;
    border: 1px solid #444444;
    width: 100%;
}

/** Tabs top of page **/

div.tab-listing {
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0.25ex;
    padding-right: 0.25ex;
    background: #444444;
    border: 1px solid #444444;
    color: white;
    display: inline-block;
}
div.tab-listing .tab-entry {
    padding: 0.5ex;
    margin-left: 0.25ex;
    margin-right: 0.25ex;
    cursor: pointer;
    user-select: none;
}

div.tab-listing .tab-inactive {
    background: #CCCCCC;
    font-weight: bold;
    border: 1px solid #222222;
    color: #111111;
}

div.tab-listing .tab-active {
    font-weight: bold;
    border: 1px solid #444444;
}

/** Component table **/
#component_table {
    width: 50%;
    text-align: right;
    display: inline-block;
}