/** Basic page parameters (body, hidden areas ect) **/
div.templates {
    display: none;
}

body {
    padding: 0px;
    margin: 0px;
    min-width: 733px;
    background: #DEDEFF;
    overflow: hidden;
}

#main-content {
    background: white;
    overflow: auto;
}

/** Menu Button bar **/

div.menu-bar {
    text-align: right;
    margin:1px;
}

div.btn-block {
    display: inline-block;
    text-align: center;
    font-size: smaller;
    width: 9ex;
    background: #DDDDDD;
    padding: 3px;
    border: 1px solid #555555;
    user-select: none;
}

div.btn-block-pressed{
    background: #AAAAAA;
}

div.btn-block img {
    height: 36px;
    width: 36px;
    align-content: center;
    user-select: none;
}

div.btn-block .btn-label
{
    text-align: center;
    width: 100%;
    display: block;
    margin-top: -0.5ex; /* adjust text to be a bit closer */
}

/** Working file information (bottom of page) **/
div.working-file {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: black;
    color: #9999CC;
    padding: 2px;
}

/** Page title section under tabs **/
#title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 3px;
    color: white;
    background: #444444;
    border: 1px solid #444444;
    width: 100%;
}

/** Tabs top of page **/

div.tab-listing {
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0.25ex;
    padding-right: 0.25ex;
    background: #444444;
    border: 1px solid #444444;
    color: white;
    display: inline-block;
}
div.tab-listing .tab-entry {
    padding: 0.5ex;
    margin-left: 0.25ex;
    margin-right: 0.25ex;
    cursor: pointer;
    user-select: none;
}

div.tab-listing .tab-inactive {
    background: #CCCCCC;
    font-weight: bold;
    border: 1px solid #222222;
    color: #111111;
}

div.tab-listing .tab-active {
    font-weight: bold;
    border: 1px solid #444444;
}

/** Modal dialog **/

.modal .modal-icon {
    width: 36px;
    height: 36px;
    display: inline-block;
}

.modal .modal-text {
    display: inline-block;
    padding-left: 40px;
    max-width: 65%;
}

.modal .modal-buttons {
    text-align: right;
    padding-top: 3em;
}

/** Component table **/
#component_table {
    width: 50%;
    text-align: right;
    display: inline-block;
}

/** CLE definition **/
#cle-content {
    width:70%;
    left: 29%;
    position: absolute;
}

#cle-listing {
    width:28%;
    display: inline-block;
    overflow-y: auto;
    border-right: solid 1px black;
    background: #EEEEEE;
    
}

#cle-listing .cle-list-name{
    margin: 2px;
    padding: 2px;
    size: 1.1em;
    background: #DDDDDD;
    cursor: pointer;
}

#cle-listing .cle-selected{
    background-color: #22A;
    color: #FFF;
}

#cle-topbar{
    margin: 0px;
    display: block;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
#cle-delete{
    margin-left: 2em;
    cursor: pointer;
}

.json-editor-area{
    margin: 0px;
}

.add-cle-btn {
    border-radius: 3px;
    background: #1f4d1a;
    padding: 5px;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

/* Override zindex */
#cle-content .ace_gutter{
    z-index: 2;
}
#cle-content .ace_scrollbar{
    z-index: 2;
}

/** Message definition **/
#message-content {
    width:70%;
    left: 29%;
    position: absolute;
}

#message-listing {
    width:28%;
    display: inline-block;
    overflow-y: auto;
    border-right: solid 1px black;
    background: #EEEEEE;
    
}

#message-listing .message-list-name{
    margin: 2px;
    padding: 2px;
    size: 1.1em;
    background: #DDDDDD;
    cursor: pointer;
}

#message-listing .message-selected{
    background-color: #22A;
    color: #FFF;
}

#message-topbar{
    margin: 0px;
    display: block;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
#message-delete{
    margin-left: 2em;
    cursor: pointer;
}

.json-editor-area{
    margin: 0px;
}

.add-message-btn {
    border-radius: 3px;
    background: #1f4d1a;
    padding: 5px;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

/* Override zindex */
#message-content .ace_gutter{
    z-index: 2;
}
#message-content .ace_scrollbar{
    z-index: 2;
}